<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Previous Selection: {{ session.form }}</h3>
    <!-- In order to use a checkbox that will allow multiple selections for the same field, ensure that each checkbox tag has the same name, but a different value -->
    <form action="/process-form" method="post">
        <input type="checkbox" name="fav_lang" id="python" value="Python">
        <label for="python">Python</label>

        <input type="checkbox" name="fav_lang" id="js" value="JavaScript">
        <label for="js">JavaScript</label>

        <input type="checkbox" name="fav_lang" id="cs" value="C#">
        <label for="cs">C#</label>

        <input type="submit" value="Submit">
    </form>
</body>
</html>